/.idea
*.iml

/addons/
/config/Users/
/steamapps/
/logs/
/TADST/
/dll/
/mark/
/kart/
/heli/
/curator/
/dta/
/bec/

/@asm/

asm.ini

*.log
*.exe
*.rpt
*.pbo
*.dll
*.txt
*.vdf
*.mdmp
*.bidmp

!ARMA_BAN.dll
!ARMA_LOAD.dll
!ARMA_LOG.dll
!ban.txt
!tbb*.dll
