/.idea
*.iml

/addons/
/config/Users/
/steamapps/
/logs/
/TADST/
/dll/
/mark/
/kart/
/heli/
/curator/
/dta/
/bec/

/@asm/
/@Exile/

asm.ini

*.log
*.exe
*.rpt
*.pbo
*.dll
*.txt
*.vdf

!ARMA_BAN.dll
!ARMA_LOAD.dll
!ARMA_LOG.dll
